:root {
  --border-radius: 3rem;
  /*===== Colors =====*/ /* hue first second */
  --color-blue: #4285f4;
  --color-red: #ea4335;
  --color-yellow: #fbbc05;
  --color-green: #0f9d58; /* 34a853 */
  --color-neutral: #a3a3a3;
  --color-off-black: #202020;
  /*===== Typography =====*/
  --body-font: 'Noto Sans TC', sans-serif;
  --big-font-size: 2rem;
  --medium-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.8rem;
  --font-semi: 600;
  /*===== Spacings =====*/
  --sp-2: 0.5rem;
  --sp-4: 1rem;
  --sp-6: 1.5rem;
  --sp-8: 2rem;
  --sp-10: 2.5rem;
  --sp-12: 3rem;
}

/*===== BASE =====*/
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: normal;
  cursor: default;
}
img {
  max-width: 100%;
  height: auto;
}
/*===== LAYOUT =====*/
.side-padding {
  padding: 0 12%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--sp-6);
  margin-bottom: 4rem;
}

/*===== CLASS CSS ===== */
.section {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.no-select {
  user-select: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.big-heading {
  font-size: clamp(2rem, calc(2vw + 1rem), 5rem);
}
.medium-heading {
  font-size: clamp(1rem, calc(1vw + 1rem), 3rem);
}
.box-design {
  border: 1px solid black;
  border-radius: var(--border-radius);
  box-shadow: 0 1rem black;
}
.no-wrap {
  text-wrap: nowrap;
}
