:root {
  --border-radius: 3rem;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
section {
  display: flex;
  height: 80vh;
  align-items: center;
  margin: 3rem 0;
}
